{% extends 'setup-layout.html' %}

{% set settingTitle = 'Confirm your settings' %}
{% set back = '/skillpoints' %}

{% set skills = [pilot, fighter, merchant, engineer] %}
{% set labels = ['Pilot', 'Fighter', 'Merchant', 'Engineer'] %}

{% block settingsContent %}
<div class="confirm-container">
    <div class="confirm-setting">
        <div class="setting">
          <span>Name: </span>
          <span><strong>{{name}}</strong></span>
        </div>
        <div class="setting">
          <span>Difficulty: </span>
          <span><strong>{{diff}}</strong></span>
        </div>
        <div class="setting">
          <span>Starting Credits: </span>
          <span><strong>{{credits}}</strong></span>
        </div>
    </div>
    <div class="confirm-setting">
        {% for skill in skills%}
        <div class="setting">
          <p class="sp-label">
            <img src="../static/icons/{{labels[loop.index - 1]}}.png">
            {{labels[loop.index - 1]}}:
          </p>
          <p><strong>{{skills[loop.index - 1]}}</strong></p>
        </div>
        {% endfor %}
    </div>
</div>
<form method="post">
    {{ form.hidden_tag() }}
    {{form.submit(class="button filled-button")}}
    <!--DEBUGGING ISSUES WITH FORM
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="error">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    -->
</form>
{% endblock %}