{% extends 'game-layout.html' %}

{% set hideNav = true %}

{% block gameContent %}
<h2>{{npc["name"]}}</h2>
{% if npc["name"] == "Bandit" %}
<p>OHO <strong>{{game.player.name}}</strong>!!!! I'll let you go, if you give me <strong>{{npc["demand"]}}
        credits</strong>!
</p>
{% elif npc["name"] == "Trader" %}
<p><strong>{{game.player.name}}</strong>! I'll sell ya a <img class="item-icon"
        src="../static/item-images/item-icon{{npc.item.id}}.svg"><strong>{{npc["item"].name}}</strong> for
    <strong><span id="price">{{npc["item"].b_price}}</span> credits</strong>!</p>
{% elif npc["name"] == "Police" %}
<p>STOP <strong>{{game.player.name}}</strong>! Hand over the stolen <img class="item-icon"
        src="../static/item-images/item-icon{{npc.item.id}}.svg"><strong>{{npc["item"].name}}</strong>!</p>
{% endif %}
<img height="200" width="auto" src="../static/{{npc.name}}.png">
<p>What will YOU do!?</p>
<div class="encounter-grid">
    {% if npc["name"] == "Bandit" %}
    <button class="choice bandit pay" onclick="payBandit()">Pay fee</button>
    <button class="choice bandit flee" onclick="fleeBandit()">Flee to previous region ({{pilot}}%)</button>
    <button class="choice bandit fight" onclick="fightBandit()">Fight ({{fighter}}%)</button>
    {% elif npc["name"] == "Trader" %}
    <button class="choice trader buy" onclick="buyTrader()">Buy item</button>
    <button class="choice trader ignore" onclick="ignoreTrader()">Ignore</button>
    <button class="choice trader rob" onclick="robTrader()">Rob ({{fighter}}%)</button>
    <button class="choice trader negotiate" onclick="negotiateTrader()">Negotiate ({{merchant}}%)</button>
    {% elif npc["name"] == "Police" %}
    <button class="choice police forfeit" onclick="forfeitPolice()">Forfeit stolen items</button>
    <button class="choice police flee" onclick="fleePolice()">Flee to previous region ({{pilot}}%)</button>
    <button class="choice police fight" onclick="fightPolice()">Fight ({{fighter}}%)</button>
    {% endif %}
</div>
<div id="text">
    {% if text and second_test %}
    {{text}}
    <p id="click-continue">
        <strong>Click anywhere to continue...</strong>
    </p>
    {% elif text %}
    {{text}}
    {% endif %}
</div>

<script type="text/javascript">
    function clickReturn() {
        document.addEventListener("click", function (event) {
            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.reload();
                }
            };
            req.open('POST', '/encounter', true);
            req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            req.send("return_travel=");
        });
    }
    function updateCredits() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("credits").innerHTML = this.responseText;
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("updateCredits=");
    }

    function updateHealth() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("health").innerHTML = this.responseText;
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("updateHealth=");
    }

    function payBandit() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML += resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //update credits
                updateCredits();
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("pay_bandit=");
    }
    function fightBandit() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML += resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //update credits
                updateCredits();
                //update health
                updateHealth();
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("fight_bandit=");
    }
    function fleeBandit() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML += resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //update credits
                updateCredits();
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("flee_bandit=");
    }
    function buyTrader() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML = resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //update credits
                updateCredits();
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("buy_trader=");
    }
    function ignoreTrader() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML = resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("ignore_trader=");
    }
    function robTrader() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML = resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //update health
                updateHealth();
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("rob_trader=");
    }
    function negotiateTrader() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML = resultMessage +
                    '<p id="click-continue">' +
                    '</p>';
                //update the price of the item
                itemPrice = document.getElementById("price");
                if(resultMessage.includes("+")) {
                    itemPrice.innerHTML = Math.trunc(parseInt(itemPrice.innerHTML) * 3 / 2);
                } else if (resultMessage.includes("-")) {
                    itemPrice.innerHTML = Math.trunc(parseInt(itemPrice.innerHTML) * 2 / 3);
                }

            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("negotiate_trader=");
    }
    function forfeitPolice() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML += resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("forfeit_police=");
    }
    function fleePolice() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML += resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //update health
                updateHealth();
                //update credits
                updateCredits();
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("flee_police=");
    }
    function fightPolice() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //display result message
                let resultMessage = this.responseText;
                document.getElementById("text").innerHTML += resultMessage +
                    '<p id="click-continue">' +
                    '<strong>Click anywhere to continue...</strong>' +
                    '</p>';
                //add click event listener to return home
                clickReturn();
            }
        };
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("fight_police=");
    }
</script>
{% endblock %}