{% extends 'layout.html' %}
{% block content %}
<!-- top bar UI -->
<div class="player-info-grid">
    <div class="player-info">
        <img class="item-icon" src="../static/item-images/icon-credits.svg"><strong>{{game.player.credit}}</strong>
    </div>
    <div class="player-info">
        <img class="item-icon" src="../static/item-images/icon-fuel.svg"><strong>{{game.player.ship.fuel_level}} /
            {{game.player.ship.max_fuel}}</strong>
    </div>
    <div class="player-info">
        <img class="item-icon" src="../static/item-images/icon-health.svg"><strong>{{game.player.ship.health_level}} /
            {{game.player.ship.max_health}}</strong>
    </div>
</div>

<!-- nav bar -->
<div id="menu">
    <button id="collection" onclick="location.href = 'collection'">Collection</button>
    <button id="ship" onclick="location.href = 'ship'">Ship</button>
    <button id="travel" onclick="location.href = 'travel'">Travel</button>
    <button id="market" class="active" onclick="location.href = 'market'">Market</button>
    <h2 id="currRegion">Region: {{currRegion.name}}
        ({{currRegion.coordinates.x_position}},
        {{currRegion.coordinates.y_position}})
        Tech Level: {{currRegion.tech_level.name}}
    </h2>
</div>

<!-- Market -->
<div class="menu marketMenu">
    <h2>Market</h2>
    <div class="grid-container">
        <div class="grid-item category">
            <ul id="itemCategoriesUl">
                <li class=" activeCategory">All</li>
                <li>Animal</li>
                <li>Food</li>
                <li>Medicine</li>
                <li>Misc.</li>
                <li>Resource</li>
                <li>Technology</li>
                <li>Tool</li>
                <li>Weapon</li>
            </ul>
        </div>
        <div class="grid-item shop">
            <ul id="itemUl">
                {% for item in currRegion.market %}
                <li class="item {{loop.index}} {{item.category}} shop-item">
                    <div class="item-left">
                        {{item.amount}}x <img class="item-icon"
                            src="../static/item-images/item-icon{{item.id}}.svg">{{item.name}}
                    </div>
                    <div class="item-right">
                        <strong>{{item.b_price}}</strong>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item buy">
            {% if selectedItem %}
            <p id="purchaseStatement">Purchase <strong>{{selectedItem.name}}</strong> for
                <strong>{{selectedItem.b_price}}</strong>?</p>
            {% else %}
            <p id="purchaseStatement">Choose an item to purchase</p>
            {% endif %}
            <button type="button" onclick="purchase()">Purchase</button>
        </div>
        <div class="grid-item description">
            {% if market_error %}
            <h3 class="error">{{market_error}}</h3>
            {% endif %}
            {{selectedItem.description}}
        </div>
    </div>
</div>
<button onclick="addFuel()">buy 50 fuel</button>
<button onclick="addHealth()">repair 10 health</button>

<!-- Player Inv -->
<h4>Player Inventory: {{game.player.ship.cargo_size}} / {{game.player.ship.max_cargo}} lb capacity</h4>
<div class="inv-grid">
    <div class="inv-item inv-image tableHeader">
        Item
    </div>
    <div class="inv-item inv-quantity tableHeader">
        #
    </div>
    <div class="inv-item inv-weight tableHeader">
        lb
    </div>
    <div class="inv-item inv-sell tableHeader">
        Sell
    </div>
    {% for item in game.player.ship.cargo %}
    <div class="inv-item inv-name">
        <img class="item-icon" src="../static/item-images/item-icon{{item.id}}.svg">{{item.name}}
    </div>
    <div class="inv-item inv-quantity">
        {{item.amount}}x
    </div>
    <div class="inv-item inv-weight">
        {{item.size}} lb
    </div>
    <button class="sellButton {{loop.index}} inv-item inv-sell">Sell for
        {{item.s_price}}</button>
    {% endfor %}
</div>
<script type="text/javascript">
    function addHealth() {
        var req = new XMLHttpRequest();
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addHealth=");
        window.location.reload();
    }
    function addFuel() {
        var req = new XMLHttpRequest();
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addFuel=");
        window.location.reload();
    }
    function selectItem(index) {
        showDescription(index);
        showPurchaseStatement(index);
    }
    function showDescription(index) {
        var req = new XMLHttpRequest();
        var result = document.getElementsByClassName("description");
        var purchaseStatement = document.getElementById("purchaseStatement");
        //only need this section if we're displaying
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                result[0].innerHTML = this.responseText;
            }
        };
        //this part sends the data over
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("selectedIndex=" + index);
    }
    function showPurchaseStatement(index) {
        var req = new XMLHttpRequest();
        var purchaseStatement = document.getElementById("purchaseStatement");
        //only need this section if we're displaying
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                purchaseStatement.innerHTML = this.responseText;
            }
        };
        //this part sends the data over
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("statementIndex=" + index);
    }
    function purchase() {
        var req = new XMLHttpRequest();
        //this part sends the data over
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("buyIndex=");
        window.location.reload();
    }
    function sellItem(index) {
        var req = new XMLHttpRequest();
        //this part sends the data over
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("sellIndex=" + index);
        window.location.reload();
    }

    // event listener for item selection
    let itemUl = document.getElementById("itemUl");
    itemUl.addEventListener("click", function (event) {
        if (event.target.classList.contains("item")) {
            selectItem(event.target.classList[1]);
        }
    });

    //event listerner for item sell
    let invGridUl = document.getElementsByClassName("inv-grid");
    invGridUl[0].addEventListener("click", function (event) {
        if (event.target.classList.contains("sellButton")) {
            sellItem(event.target.classList[1]);
        }
    })

    //event listerner for categories
    let itemCatUl = document.getElementById("itemCategoriesUl");
    itemCatUl.addEventListener("click", function (event) {
        //bold selected category
        let activeCategory = document.getElementsByClassName("activeCategory");
        if (activeCategory.length > 0) {
            activeCategory[0].className = activeCategory[0].className.replace(" activeCategory", "");
        }
        event.target.className += " activeCategory";
        let category = event.target.innerHTML;
        let itemUl = document.getElementById("itemUl");
        let shownItem = document.getElementsByClassName("item");
        for (let i = 0; i < shownItem.length; i++) {
            item = shownItem[i];
            if (category === "All") {
                item.className = item.className.replace(" hidden", "");
            } else if (item.classList.contains(category)) {
                //item to show, remove hidden if it has
                if (item.classList.contains("hidden")) {
                    item.className = item.className.replace(" hidden", "");
                }
            } else {
                //item to hide, add hidden if doesnt have
                if (!item.classList.contains("hidden")) {
                    item.className += " hidden";
                }
            }
        }
    })
</script>
{% endblock %}