{% extends 'game-layout.html' %}

{% set pageName = 'Market' %}

{% block gameContent %}
<div class="market-container">
    <h2 class="h2">Region {{currRegion.name}} - {{currRegion.tech_level.name}}</h2>
    <!-- price board -->
    <div id="market-banner">
        <div class="price-board">
            <div class="price">Animal:</div>
            <div class="price">Food:</div>
            <div class="price">Medicine:</div>
            <div class="price">Misc:</div>
            <div class="price">Resource:</div>
            <div class="price">Technology:</div>
            <div class="price">Tool:</div>
            <div class="price">Weapon:</div>
        </div>
    </div>
    <!-- Market -->
    <div class="menu marketMenu">
        <div class="grid-container">
            <div class="grid-item category">
                <ul id="itemCategoriesUl">
                    <li class=" activeCategory">All</li>
                    <li>Animal</li>
                    <li>Food</li>
                    <li>Medicine</li>
                    <li>Misc</li>
                    <li>Resource</li>
                    <li>Technology</li>
                    <li>Tool</li>
                    <li>Weapon</li>
                </ul>
            </div>
            <div class="grid-item shop">
                <ul id="itemUl">
                    {% for item in currRegion.market %}
                    <li class="item {{item.id}} {{item.category}} shop-item">
                        <div class="item-left">
                            <span class="rem-stock {{item.id}}">{{item.amount}}</span>x <img class="item-icon"
                                src="../static/item-images/item-icon{{item.id}}.svg">{{item.name}}
                        </div>
                        <div class="item-right">
                            <img class="item-icon small-icon" src="../static/item-images/icon-credits.svg"><strong>{{item.b_price}}</strong>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
           
            <div class="grid-item description">
                <h3 class="error">
                    {% if market_error %}
                    {{market_error}}
                    {% endif %}
                </h3>
                <div class="description-grid">
                    <div class="description-item" id="icon">
                        {% if selectedItem %}
                        <img class="item-icon" src="../static/item-images/item-icon{{selectedItem.id}}.svg">
                        {% endif %}
                    </div>
                    <div class="description-item" id="name">
                        <strong>{{selectedItem.name}}</strong>
                    </div>
                    <div class="description-item" id="weight">
                        {% if selectedItem %}
                        {{selectedItem.category}} - {{selectedItem.size}} lb - Tech Level:
                        {{selectedItem.debut}}
                        {% endif %}
                    </div>
                    <div class="description-item" id="description">
                        {{selectedItem.description}}
                    </div>
                </div>
            </div>
            <div class="grid-item buy">
                {% if selectedItem %}
                <p id="purchaseStatement">Purchase for
                    <strong>{{selectedItem.b_price}}</strong>?</p>
                {% else %}
                <p id="purchaseStatement">Choose an item to purchase</p>
                {% endif %}
                <button type="button" class="buy-button" onclick="purchase()">Purchase</button>
            </div>
        </div>
    </div>
    <button onclick="addFuel()">
      <img class="item-icon small-icon" src="../static/item-images/icon-fuel.svg">buy 50 fuel for 50 credits
    </button>
    <button onclick="addHealth()">
      <img class="item-icon small-icon" src="../static/item-images/icon-health.svg"> repair 10 health for {{repair_cost}} credits
    </button>
</div>

<!-- Player Inv -->
<h4 id="inv-title">Your Cargo: <span id="cargo-size">{{game.player.ship.cargo_size}}</span> /
    {{game.player.ship.max_cargo}} lb capacity</h4>
<div class="inv-grid">
    <div class="inv-item inv-image tableHeader">
        Item
    </div>
    <div class="inv-item inv-quantity tableHeader">
        #
    </div>
    <div class="inv-item inv-weight tableHeader">
        lb
    </div>
    <div class="inv-item inv-sell tableHeader">
        Sell
    </div>
    {% for item in game.player.ship.cargo %}
    <div class="inv-item inv-name {{item.id}}">
        <img class="item-icon" src="../static/item-images/item-icon{{item.id}}.svg">{{item.name}}
    </div>
    <div class="inv-item inv-quantity {{item.id}}">
        {{item.amount}}x
    </div>
    <div class="inv-item inv-weight {{item.id}}">
        {{item.size}} lb
    </div>
    <button class="sellButton inv-item inv-sell {{item.id}}">Sell
        <img class="item-icon small-icon" src="../static/item-images/icon-credits.svg">{{item.s_price}}
    </button>
    {% endfor %}
</div>
<script type="text/javascript">
    function updateCredits() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("credits").innerHTML = this.responseText;
            }
        };
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("updateCredits=");
    }
    function updateStorageCapacity() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("cargo-size").innerHTML = this.responseText;
            }
        };
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("updateStorageCapacity=");
    }
    function addHealth() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("health").innerHTML = this.responseText;
            }
        };
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addHealth=");
        updateCredits();
    }
    function addFuel() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("fuel").innerHTML = this.responseText;
            }
        };
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addFuel=");
        updateCredits();
    }
    function selectItem(id) {
        var req = new XMLHttpRequest();
        var purchaseStatement = document.getElementById("purchaseStatement");
        //only need this section if we're displaying
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let item = JSON.parse(this.responseText);
                document.getElementById("purchaseStatement").innerHTML = "Purchase for <strong>" + item.b_price + "</strong>?";
                document.getElementById("icon").innerHTML = "<img class='item-icon' src='../static/item-images/item-icon" + item.id + ".svg'>";
                document.getElementById("name").innerHTML = "<strong>" + item.name + "</strong>";
                document.getElementById("weight").innerHTML = item.category + " - " + item.size + " lb - Tech Level: " + item.debut;
                document.getElementById("description").innerHTML = item.description;

                //clear market error
                document.getElementsByClassName("error")[0].innerHTML = "";
            }
        };
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("selectedItem=" + id);
    }
    function purchase() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText.length > 50) {
                    //no error
                    let item = JSON.parse(this.responseText);
                    let id = document.getElementsByClassName("active-item")[0].classList[1];
                    //win condition
                    if (item.id === 13) {
                        window.location.reload();
                    } else {
                        //subtract cost of the item
                        updateCredits();
                        //increase capacity
                        updateStorageCapacity();
                    }
                    //if unique, add a new row to inventory with item
                    if (item.amount === 1) {
                        //add a new row
                        let inv = document.getElementsByClassName("inv-grid");
                        inv[0].innerHTML += '<div class="inv-item inv-name ' + item.id + '">' +
                            '<img class="item-icon" src="../static/item-images/item-icon' + item.id + '.svg">' + item.name +
                            '</div>' +
                            '<div class="inv-item inv-quantity ' + item.id + '">' +
                            item.amount + 'x' +
                            '</div>' +
                            '<div class="inv-item inv-weight ' + item.id + '">' +
                            item.size + ' lb' +
                            '</div>' +
                            '<button class="sellButton inv-item inv-sell ' + item.id + '">Sell' +
                            '<img class="item-icon small-icon" src="../static/item-images/icon-credits.svg">' +
                            item.s_price + '</button>';
                    } else {
                        //update item quantity
                        let itemQuantity = document.getElementsByClassName("inv-quantity " + id);
                        itemQuantity[0].innerHTML = item.amount + "x";
                    }
                    //decrement stock of the item
                    let remStock = document.getElementsByClassName("rem-stock " + item.id)[0]
                    remStock.innerHTML = parseInt(remStock.innerHTML) - 1;

                } else {
                    //error
                    document.getElementsByClassName("error")[0].innerHTML = this.responseText;
                }
            }
        }
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("purchase=");
    }
    function sellItem(id) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                numRemaining = this.responseText;
                if (numRemaining === "0") {
                    //remove row if no more of that item
                    //get row to remove
                    let toBeSold = document.getElementsByClassName("inv-item " + id);
                    //remove row
                    Array.from(toBeSold).forEach(function (element) {
                        element.remove();
                    });
                } else {
                    //update item quantity
                    let itemQuantity = document.getElementsByClassName("inv-quantity " + id);
                    itemQuantity[0].innerHTML = numRemaining + "x"
                }
                //update credits
                updateCredits();
                //update storage capacity
                updateStorageCapacity();
            }
        };
        req.open('POST', '/market', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("sellId=" + id);
    }
    // set prices in price board
    let priceBoard = document.getElementsByClassName("price");
    {% for price in currRegion.price_board %}
    {% if price == 1 %}
    priceBoard[{{ loop.index - 1 }}].innerHTML = "<img class='item-icon small-icon' src='../static/item-images/icon-neutral.svg'>" + priceBoard[{{ loop.index - 1 }}].innerHTML + " {{price}}x"
    {% elif price > 1 %}
    priceBoard[{{ loop.index - 1 }}].innerHTML = "<img class='item-icon small-icon' src='../static/item-images/icon-up.svg'>" + priceBoard[{{ loop.index - 1 }}].innerHTML + " <strong>{{price}}x</strong>";
    {% else %}
    priceBoard[{{ loop.index - 1 }}].innerHTML = "<img class='item-icon small-icon' src='../static/item-images/icon-down.svg'>" + priceBoard[{{ loop.index - 1 }}].innerHTML + " <strong>{{price}}x</strong>";
    {% endif %}
    {% endfor %}

    // set tech level bg
    let techLevelBg = document.getElementById("market-banner");
    techLevelBg.style.backgroundImage = 'url("../static/banners/{{currRegion.tech_level.name}}.png")';

    // event listener for item selection
    let itemUl = document.getElementById("itemUl");
    itemUl.addEventListener("click", function (event) {
        if (event.target.classList.contains("item")) {
            selectItem(event.target.classList[1]);

            //highlight selected item
            let activeItem = document.getElementsByClassName("active-item");
            if (activeItem.length > 0) {
                activeItem[0].className = activeItem[0].className.replace(" active-item", "");
            }
            event.target.className += " active-item";
        }
    });

    //event listerner for item sell
    let invGridUl = document.getElementsByClassName("inv-grid");
    invGridUl[0].addEventListener("click", function (event) {
        if (event.target.classList.contains("sellButton")) {
            console.log(event.target.classList);
            sellItem(event.target.classList[3]);
        }
    })

    //event listerner for categories
    let itemCatUl = document.getElementById("itemCategoriesUl");
    itemCatUl.addEventListener("click", function (event) {
        //bold selected category
        //If clicked element is itemCatU1 do not enter
        if (event.target !== event.currentTarget) {
            let activeCategory = document.getElementsByClassName("activeCategory");
            if (activeCategory.length > 0) {
                activeCategory[0].className = activeCategory[0].className.replace(" activeCategory", "");
            }
            event.target.className += " activeCategory";
            let category = event.target.innerHTML;
            let itemUl = document.getElementById("itemUl");
            let shownItem = document.getElementsByClassName("item");
            for (let i = 0; i < shownItem.length; i++) {
                item = shownItem[i];
                if (category === "All") {
                    item.className = item.className.replace(" hidden", "");
                } else if (item.classList.contains(category)) {
                    //item to show, remove hidden if it has
                    if (item.classList.contains("hidden")) {
                        item.className = item.className.replace(" hidden", "");
                    }
                } else {
                    //item to hide, add hidden if doesnt have
                    if (!item.classList.contains("hidden")) {
                        item.className += " hidden";
                    }
                }
            }
        }
    })
</script>
{% endblock %}