{% extends 'setup-layout.html' %}

{% set settingTitle = "Settings" %}
{% set back = '/home' %}

{% block settingsContent %}
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        <span class="h3">{{form.name.label}}</span><br/>
        {{form.name(size=32)}}<br>
        {% for error in form.name.errors %}
            <span class="error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <br>
    <p>
        <span class="h3">{{form.diff.label}}:</span>
        <span class="description">
            effects the amount of skill points, starting credits, price of fuel, and chances of encounters
        </span>
        {{form.diff}}<br>
    </p>
    {{form.submit(class="button")}}
</form>

<script type="text/javascript">
    let diffUl = document.getElementById("diff");
    let radioButtons = diffUl.getElementsByTagName("input");
    let stroke = document.getElementsByClassName("imgDiv");
    Array.from(radioButtons).forEach(function (button) {
        button.addEventListener("click", function (event) {
            //switch to different image based on selected diff
            if (event.target.value == "easy") {
                stroke[0].style.backgroundImage = 'url("../static/stroke-green.svg")';
            }
            if (event.target.value == "med") {
                stroke[0].style.backgroundImage = 'url("../static/stroke-orange.svg")';
            }
            if (event.target.value == "hard") {
                stroke[0].style.backgroundImage = 'url("../static/stroke-red.svg")';
            }
        });
    });
</script>
{% endblock %}