{% extends 'setup-layout.html' %}

{% set settingTitle = 'Skill Points' %}
{% set back = '/settings' %}

{% set skills = [form.pilot, form.fighter, form.merchant, form.engineer] %}
{% set labels = ['Pilot', 'Fighter', 'Merchant', 'Engineer'] %}

{% set descriptions = [
  'Improved navigation: higher fuel efficiency, higher chance to flee',
  'Strong arm: higher chance to fight and rob',
  'Art of the Trade: buy goods cheaper, sell goods higher, higher chance to negotatie',
  'Handy Chicken: cheaper ship repair costs'
  ] %}

{% block settingsContent %}
<h3 class="h3">Total available skill points: {{sp}}</h3>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="sp-input-grid">
        {% for skill in skills%}
          <div class="sp-label">
            <img src="../static/icons/{{labels[loop.index - 1]}}.png">{{skill.label}}
          </div>
          <div class="sp-input">
              {{skill(size=32)}}
          </div>
          <div class="sp-description description">
            {{descriptions[loop.index - 1]}}
          </div>
          <div class="sp-error">
              {% for error in skill.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>
        {% endfor %}
    </div>
    <div>
        {{form.submit(class="button filled-button")}}
    </div>

    <!--DEBUGGING ISSUES WITH FORM
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="warning">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
-->
</form>
{% endblock %}