{% extends 'game-layout.html' %}

{% set setup = true %}

{% set skills = [form.sp1, form.sp2, form.sp3, form.sp4] %}

{% set descriptions = [
  'Improved navigation: higher fuel efficiency, higher chance to flee',
  'Strong arm: higher chance to fight and rob',
  'Art of the Trade: buy goods cheaper, sell goods higher, higher chance to negotatie',
  'Handy Chicken: cheaper ship repair costs'
  ] %}

{% block gameContent %}
<div class="sp-grid setup-container">
    <div class="imgDiv">
        <img class="chicken" src="../static/chicken.png">
    </div>
    <div class="sp-option sp-heading">
        <h1 class="h1">Skill Points</h1>
        <h3 class="h3">Total available skill points: {{sp}}</h3>
    </div>
    <form class="sp-option spForm" method="post">
        {{ form.hidden_tag() }}
        <div class="sp-input-grid">
            {% for skill in skills%}
              <div class="sp-label">
                <img src="../static/icons/{{skill.name}}.png">{{skill.label}}
              </div>
              <div class="sp-input">
                  {{skill(size=32)}}
              </div>
              <div class="sp-description description">
                {{descriptions[loop.index - 1]}}
              </div>
              <div class="sp-error">
                  {% for error in skill.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
            {% endfor %}
        </div>
        <div>
            {{form.submit(class="button")}}
        </div>

        <!--DEBUGGING ISSUES WITH FORM
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="warning">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
-->
    </form>
    <div class="back">
        <button onclick="location.href = '/settings'">Back</button>
    </div>

</div>
<script type="text/javascript">
    //set stroke color based on diff selected
    let stroke = document.getElementsByClassName("imgDiv");
    {% if diff == "easy" %}
    stroke[0].style.backgroundImage = 'url("../static/stroke-green.svg")';
    {% endif %}
    {% if diff == "med" %}
    stroke[0].style.backgroundImage = 'url("../static/stroke-orange.svg")';
    {% endif %}
    {% if diff == "hard" %}
    stroke[0].style.backgroundImage = 'url("../static/stroke-red.svg")';
    {% endif %}
</script>
{% endblock %}