{% extends 'layout.html' %}
{% block content %}
<div class="all-container">
    <!-- top bar UI -->
    <div class="player-info-grid">
        <div>
            <img class="item-icon player-info" src="../static/item-images/icon-credits.svg">
            <div id="credits" class="player-info">{{game.player.credit}}</div>
        </div>
        <div>
            <img class="item-icon player-info" src="../static/item-images/icon-fuel.svg">
            <div id="fuel" class="player-info">{{game.player.ship.fuel_level}}</div>
            <div class="player-info">/ {{game.player.ship.max_fuel}}</div>
        </div>
        <div>
            <img class="item-icon player-info" src="../static/item-images/icon-health.svg">
            <div id="health" class="player-info">{{game.player.ship.health_level}}</div>
            <div class="player-info">/ {{game.player.ship.max_health}}</div>
        </div>
    </div>

    <!-- nav bar -->
    <div id="menu">
        <button id="travel" onclick="location.href = 'travel'">Travel</button>
        <button id="market" onclick="location.href = 'market'">Market</button>
        <button id="ship" onclick="location.href = 'ship'">Ship</button>
        <button id="collection" onclick="location.href = 'collection'">Collection</button>
        <button id="stats" class="active" onclick="location.href = 'stats'">Stats</button>
    </div>
    <h2 id="header">Estimated Net Worth Overtime</h2>
</div>
<div class="all-container">
    <div id="chart"></div>
</div>
<script>
    let transactionHistory = {{ transaction_history|tojson }};
    transactionHistory.forEach(function(entry, i) {
        transactionHistory[i] = JSON.parse(entry);
    });
    console.log(transactionHistory);

    const rawNetWorthData = {{ net_worth_data }};

    //formatting the data
    let netWorthData = [];
    rawNetWorthData.forEach(function(entry, i) {
        netWorthData.push({day: i/4, amount: rawNetWorthData[i]})
    });

    const width = 540;
    const height = 540;

    //getting svg
    const svg = d3.select('#chart')
        .append('svg')
        .attr('viewBox', `0 0 ${width} ${height}`);

    const render = data => {
        const xValue = d => d.day;
        const yValue = d => d.amount;
        const margin = { top: 30, right: 20, bottom: 60, left: 100};
        const innerWidth = width - margin.left - margin.right;
        const innerHeight = height - margin.top - margin.bottom;

        const xScale = d3.scaleLinear()
            .domain([0, (netWorthData.length - 1) / 4])
            .range([0, innerWidth]);

        const yScale = d3.scaleLinear()
            .domain([0, d3.max(netWorthData, yValue)])
            .range([innerHeight, 0]);

        const g = svg.append('g')
            .attr('transform', `translate(${margin.left}, ${margin.top})`);

        //x axis
        const xAxis = d3.axisBottom(xScale)
            .ticks((netWorthData.length - 1) / 2);
        const xAxisG = g.append('g').call(xAxis)
            .attr('transform', `translate(0, ${innerHeight})`);
        xAxisG.append('text')
            .attr('x', innerWidth / 2)
            .attr('y', 50)
            .attr('fill', 'black')
            .attr('font-weight', 'bold')
            .text('Day');

        //y axis
        const yAxis = d3.axisLeft(yScale)
        const yAxisG = g.append('g').call(yAxis)
        yAxisG.append('text')
            .attr('x',  -50)
            .attr('y', innerHeight / 2)
            .attr('fill', 'black')
            .attr('font-weight', 'bold')
            .text('Credits');

        //Line Graph
        g.append('path').datum(netWorthData)
            .attr('fill', 'none')
            .attr('stroke', 'steelblue')
            .attr('stroke-width', 1.5)
            .attr('d', d3.line()
                .x(d => xScale(xValue(d)))
                .y(d => yScale(yValue(d)))
            );
    };
    render(netWorthData);
</script>
{% endblock %}