{% extends 'game-layout.html' %}

{% set pageName = 'Stats' %}

{% block gameContent %}
<div class="stats-container">
    <div class="side-chart">
        <div class="svg-container">
            <svg id="earnings"></svg>
        </div>
        <div class="svg-container">
            <svg id="expenses"></svg>
        </div>
    </div>
    <div class="main-chart">
        <svg id="net-worth"></svg>
    </div>
    <div class="stats-grid">
        <div>items purchased: <span id="num-purchased"></span></div>
        <div>fuel purchased: <span id="num-fuel"></span></div>
        <div>NPC encounters: <span id="num-npc"></span></div>

        <div>items sold: <span id="num-sold"></span></div>
        <div>repairs purchased: <span id="num-repairs"></span></div>
        <div>distance traveled: <span id="dist-traveled"></span></div>

        <div>transactions: <span id="num-transactions"></span></div>
        <div>most purchased item: <span id="fav-item"></span></div>
    </div>
</div>
<script type="text/javascript" src="../static/stats.js"></script>
<script>
    let transactionHistory = {{ transaction_history | tojson }};
    transactionHistory.forEach(function (entry, i) {
        transactionHistory[i] = JSON.parse(entry);
    });

    const rawNetWorthData = {{ net_worth_data }};
    //formatting the data
    let netWorthData = [];
    rawNetWorthData.forEach(function (entry, i) {
        netWorthData.push({ day: i / 12, amount: rawNetWorthData[i] })
    });

    loadStats(transactionHistory, netWorthData, {{ npc_count}}, {{ distance_traveled }})
</script>
{% endblock %}