{% extends 'layout.html' %}
{% block content %}
<!-- top bar UI -->
<div class="player-info-grid">
    <div>
        <img class="item-icon player-info" src="../static/item-images/icon-credits.svg"
        ><div id="credits" class="player-info"><strong>{{game.player.credit}}</strong></div>
    </div>
    <div>
        <img class="item-icon player-info" src="../static/item-images/icon-fuel.svg"
        ><div id="fuel" class="player-info"><strong>{{game.player.ship.fuel_level}}</strong></div>
        <div class="player-info"><strong>/ {{game.player.ship.max_fuel}}</strong></div>
    </div>
    <div>
        <img class="item-icon player-info" src="../static/item-images/icon-health.svg"
        ><div id="health" class="player-info"><strong>{{game.player.ship.health_level}}</strong></div>
        <div class="player-info"><strong>/ {{game.player.ship.max_health}}</strong></div>
    </div>
</div>
<!-- nav bar -->
<div id="menu">
    <button id="travel" class="active" onclick="location.href = 'travel'">Travel</button>
    <button id="market" onclick="location.href = 'market'">Market</button>
    <button id="ship" onclick="location.href = 'ship'">Ship</button>
    <button id="collection" onclick="location.href = 'collection'">Collection</button>
</div>

<h3><img id="time" class="item-icon">Day: {{day}} Time: {{time}}:00</h3>
<div id="timeEffect"></div>
<h2 id="currRegion">Region: {{currRegion.name}} - 
    Tech Level: {{currRegion.tech_level.name}}
</h2>
{% if fuel_error == 3 %}
<h3 class="error">Not enough fuel!</h3>
{% endif %}

<!--Travel menu - Region buttons and map-->
<div class="menu travelMenu">
    <div class="buttonAndMapContainer">
        <form method="post">
            <div class="regionButtons">
                {% for region in universe.region_list %}
                {% if region == currRegion %}
                <button type="button" onclick="travel('{{loop.index}}');" class="region {{ loop.index }} active">Region:
                    {{region.name}}</button>
                {% else %}
                <button type="button" onclick="travel('{{loop.index}}');" class="region {{ loop.index }}">Region:
                    {{region.name}}</button>
                {% endif %}
                {% endfor %}
            </div>
        </form>
        <div id="mapid"></div>
    </div>
</div>
<div class="news">
    <h2><img class='item-icon' src='../static/item-images/icon-news.svg'>Recent News</h2>
    {% if news %}
    <ul>
        {% for event in news%}
            {% if "inc" in event or "trendy" in event%}
                <li><img class='item-icon arrow' src='../static/item-images/icon-up.svg'>{{event}}</li>
            {% else %}
                <li><img class='item-icon arrow' src='../static/item-images/icon-down.svg'>{{event}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    No recent news.
    {% endif %}
</div>
<div class="fade"></div>
{% if game.player.name == "admin" %}
<h2>Testing Tools</h2>
<button onclick="addCredits()">add credits</button>
<button onclick="addFuel()">add fuel</button>
<button onclick="addHealth()">add health</button>
<button onclick="force('bandit')">force bandit</button>
<button onclick="force('trader')">force trader</button>
<button onclick="force('police')">force police (must have at least 1 item)</button>
{% endif %}

<script type="text/javascript">
    //testing tools
    function force(npc) {
        var req = new XMLHttpRequest();
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("force=" + npc);
        window.location.reload();
    }
    function addFuel() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("fuel").innerHTML = "<strong>" + this.responseText +"</strong>"
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addFuel=");
    }
    function addCredits() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("credits").innerHTML = "<strong>" + this.responseText +"</strong>"
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addCredits=");
    }
    function addHealth() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("health").innerHTML = "<strong>" + this.responseText +"</strong>"
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addHealth=");
    }
    function travel(index) {
        var req = new XMLHttpRequest();
        var result = document.getElementById("currRegion");
        //this part sends the data over
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("currIndex=" + index);
        window.location.reload();
    }
    var w = 672,
        h = 378
    var map = L.map('mapid', {
        minZoom: 1,
        maxZoom: 4,
        center: [{{ currRegion.coordinates.x_position / 3 }}, {{ currRegion.coordinates.y_position / 3 }}],
    zoom: 2,
        crs: L.CRS.Simple
    });
    var barnIcon1 = L.icon({
        iconUrl: '../static/barn1.png'
    });
    var barnIcon2 = L.icon({
        iconUrl: '../static/barn2.png'
    });
    // dimensions and url of the image
    // creating markers on map
    {% for region in universe.region_list %}
    {% if region == currRegion %}
    var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 2 }}, {{ region.coordinates.y_position / 2 }}], { icon: barnIcon1 }).addTo(map).bindPopup("<b>{{region.name}}</b><br>({{region.coordinates.y_position}}, {{region.coordinates.x_position}})<br><b>Tech Level: </b>{{region.tech_level.name}}<br><button type='button' onclick=\"travel('{{loop.index}}');\" class='region {{ loop.index }}'>GO</button>");
    {% else %}
    var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 2 }}, {{ region.coordinates.y_position / 2 }}], { icon: barnIcon2 }).addTo(map).bindPopup("<b>{{region.name}}</b><br>({{region.coordinates.y_position}}, {{region.coordinates.x_position}})<br><b>Tech Level: </b>{{region.tech_level.name}}<br><button type='button' onclick=\"travel('{{loop.index}}');\" class='region {{ loop.index }}'>GO</button>");
    {% endif %}
    {% endfor %}

    //check if day/night- day if 9-18, night if 21-6
    if ({{time}} >= 9 && {{time}} <= 18) {
        document.getElementById("time").src = "../static/item-images/icon-day.svg";
        url = '../static/map-day.png';
    } else {
        document.getElementById("time").src = "../static/item-images/icon-night.svg";
        url = '../static/map-night.png';
        document.getElementById("timeEffect").innerHTML = "<strong>Night Time</strong>: Trader <img class='item-icon arrow' src='../static/item-images/icon-down.svg'>, Bandit and Police <img class='item-icon arrow' src='../static/item-images/icon-up.svg'>";
    }

    //bounds for image
    var southWest = map.unproject([-672 * 2, -378 * 2], map.getMaxZoom() - 1);
    var northEast = map.unproject([672 * 2, 378 * 2], map.getMaxZoom() - 1);
    var bounds = new L.LatLngBounds(southWest, northEast);
    L.imageOverlay(url, bounds).addTo(map);
    map.setMaxBounds(bounds);

</script>

{% endblock %}