{% extends 'game-layout.html' %}

{% set pageName = 'Travel' %}

{% block gameContent %}
<!-- top bar UI -->
<div class="travel-info-container">
    <p id="time-info"><img id="time" class="item-icon small-icon">Day {{game.day}}, {{game.time}}:00</p>
    <div id="time-effect">
      {% if game.time >= 9 and game.time <= 18 %}
        <img id="time" class="item-icon small-icon" src="../static/item-images/icon-day.svg">
        Day: Trader <img class='item-icon small-icon' src='../static/item-images/icon-up.svg'>, 
        Bandit and Police <img class='item-icon small-icon' src='../static/item-images/icon-down.svg'>
      {% else %}
        <img id="time" class="item-icon small-icon" src="../static/item-images/icon-night.svg">
        Night: Trader <img class='item-icon small-icon' src='../static/item-images/icon-down.svg'>,
        Bandit and Police <img class='item-icon small-icon' src='../static/item-images/icon-up.svg'>
      {% endif %}
    </div>
    <h2 class="h2" id="current-info">Region {{currRegion.name}} - {{currRegion.tech_level.name}}</h2>
</div>
{% if fuel_error == 3 %}
<h3 class="error">Not enough fuel!</h3>
{% endif %}

<!--Travel menu - Region buttons and map-->
<div class="menu travelMenu">
    <div class="buttonAndMapContainer">
        <form method="post">
            <div class="regionButtons">
                {% for region in universe.region_list %}
                {% if region == currRegion %}
                <button type="button" onclick="travel('{{loop.index}}');" class="region {{ loop.index }} active">
                    {{region.name}} - 0<img class="item-icon small-icon"
                        src="../static/item-images/icon-fuel.svg"></button>
                {% else %}
                <button type="button" onclick="travel('{{loop.index}}');" class="region {{ loop.index }}">
                    {{region.name}} - {{region.travel_cost}}<img class="item-icon small-icon"
                        src="../static/item-images/icon-fuel.svg"></button>
                {% endif %}
                {% endfor %}
            </div>
        </form>
        <div id="mapid"></div>
    </div>
</div>
<div class="news">
    <h2 class="h2"><img class='item-icon' src='../static/item-images/icon-news.svg'>Recent News</h2>
    {% if game.news %}
    <ul>
        {% for event in game.news%}
        {% if "inc" in event or "trendy" in event%}
        <li><img class='item-icon small-icon' src='../static/item-images/icon-up.svg'>{{event}}</li>
        {% else %}
        <li><img class='item-icon small-icon' src='../static/item-images/icon-down.svg'>{{event}}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    No recent news.
    {% endif %}
</div>
<div class="fade"></div>
{% if game.player.name == "admin" %}
<h2>Testing Tools</h2>
<button onclick="addCredits()">add credits</button>
<button onclick="addFuel()">add fuel</button>
<button onclick="addHealth()">add health</button>
<button onclick="force('bandit')">force bandit</button>
<button onclick="force('trader')">force trader</button>
<button onclick="force('police')">force police (must have at least 1 item)</button>
{% endif %}

<script type="text/javascript">
    //testing tools
    function force(npc) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                window.location.reload();
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("force=" + npc);
    }
    function addFuel() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("fuel").innerHTML = "<strong>" + this.responseText + "</strong>"
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addFuel=");
    }
    function addCredits() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("credits").innerHTML = "<strong>" + this.responseText + "</strong>"
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addCredits=");
    }
    function addHealth() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("health").innerHTML = "<strong>" + this.responseText + "</strong>"
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addHealth=");
    }
    function travel(index) {
        var req = new XMLHttpRequest();
        //this part sends the data over
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                window.location.reload();
            }
        };
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("currIndex=" + index);
    }
    var w = 672,
        h = 378
    var map = L.map('mapid', {
        minZoom: 1,
        maxZoom: 4,
        center: [{{ currRegion.coordinates.x_position / 3 }}, {{ currRegion.coordinates.y_position / 3 }}],
    zoom: 2,
        crs: L.CRS.Simple
    }); 

    var chicken = L.icon({
        iconUrl: '../static/chicken.png',
        iconSize: [45,60]
    });

    const preagIcon = L.icon({iconUrl: '../static/barns/preag.png'});
    const agrIcon = L.icon({iconUrl: '../static/barns/agriculture.png'});
    const medIcon = L.icon({iconUrl: '../static/barns/medieval.png'});
    const renIcon = L.icon({iconUrl: '../static/barns/renaissance.png'});
    const indIcon = L.icon({iconUrl: '../static/barns/industrial.png'});
    const modIcon = L.icon({iconUrl: '../static/barns/modern.png'});
    const futIcon = L.icon({iconUrl: '../static/barns/futuristic.png'});

    const allIcons = [preagIcon, agrIcon, medIcon, renIcon, indIcon, modIcon, futIcon];

    // dimensions and url of the image
    // creating markers on map
    {% for region in universe.region_list %}
    {% if region == currRegion %}
    var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 2 }}, {{ region.coordinates.y_position / 2 }}], { icon: chicken }).addTo(map).bindPopup("<b>Region: {{region.name}}</b> ({{region.coordinates.y_position}}, {{region.coordinates.x_position}})<br><b>Tech Level: </b>{{region.tech_level.name}}<br><b>Fuel Cost:</b> 0<br><button type='button' onclick=\"travel('{{loop.index}}');\" class='region {{ loop.index }}'>GO</button>");
    {% else %}
    var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 2 }}, {{ region.coordinates.y_position / 2 }}], { icon: allIcons[{{region.tech_level.value - 1}}] }).addTo(map).bindPopup("<b>Region: {{region.name}}</b> ({{region.coordinates.y_position}}, {{region.coordinates.x_position}})<br><b>Tech Level: </b>{{region.tech_level.name}}<br><b>Fuel Cost:</b> {{region.travel_cost}}<br><button type='button' onclick=\"travel('{{loop.index}}');\" class='region {{ loop.index }}'>GO</button>");
    {% endif %}
    {% endfor %}

    //check if day/night- day if 9-18, night if 21-6
    let url = ({{ game.time }} >= 9 && {{ game.time }} <= 18) ? '../static/map-day.png': '../static/map-night.png';

    //bounds for image
    var southWest = map.unproject([-672 * 2, -378 * 2], map.getMaxZoom() - 1);
    var northEast = map.unproject([672 * 2, 378 * 2], map.getMaxZoom() - 1);
    var bounds = new L.LatLngBounds(southWest, northEast);
    L.imageOverlay(url, bounds).addTo(map);
    map.setMaxBounds(bounds);

</script>

{% endblock %}