* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    text-align: center;
}

body {}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

button, .button {
    border-color: rgb(30, 30, 30);
    color: #ffffff;
    background-color: rgb(30, 30, 30);
    padding: 1vh 2vh;
}

.active, .active2, button:hover, .button:hover {
    color: rgb(30, 30, 30);
    background-color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    margin: 0 auto;
    width: 15vh;
}

#warning {
    color: red;
}

button:hover, .button:hover, .arrow:hover {
    cursor: pointer;
}

.welcomeContainer, .settingsContainer, .spContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.confirmContainer {
    width: 30%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.setting {
    width: 40%;
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

/* travel menu style */

#mapid {
    height: 378px;
    width: 672px;
    1920, 1080
}

.regionButtons {
    display: flex;
    flex-direction: column;
}

.region {
    height: 10%;
}

.buttonAndMapContainer {
    display: flex;
    justify-content: center;
}

/* Market menu style */

.marketMenuContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 5px solid rgb(30, 30, 30);
    width: 70%;
}

.marketContainer, .bottomContainer {
    display: flex;
    width: 100%;
}

.itemCategories {
    border: 2px solid rgb(30, 30, 30);
    width: 20%;
}

.items {
    border: 2px solid rgb(30, 30, 30);;
    width: 80%;
}

.items>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.items>ul>li {
    width: 19.7%;
    border: 1px solid rgb(30, 30, 30);
    text-align: left;
}
/* Bottom container css*/
.buyInfo {
    border: 2px solid rgb(30, 30, 30);
    width: 20%;
}
.itemDescription {
    border: 2px solid rgb(30, 30, 30);
    width: 80%;
}