* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    text-align: center;
}

body {}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

button, .button {
    border-color: rgb(30, 30, 30);
    color: #ffffff;
    background-color: rgb(30, 30, 30);
    padding: 1vh 2vh;
}

.active, .active2, button:hover, .button:hover {
    color: rgb(30, 30, 30);
    background-color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    margin: 0 auto;
    width: 15vh;
}

#warning {
    color: red;
}

button:hover, .button:hover, .arrow:hover {
    cursor: pointer;
}

.welcomeContainer, .settingsContainer, .spContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.confirmContainer {
    width: 30%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.setting {
    width: 40%;
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
}
#mapid {
    height: 754px;
    width: 1129px;
    margin: auto;
}