* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    text-align: center;
}

body {}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

button, .button {
    border-color: rgb(30, 30, 30);
    color: #ffffff;
    background-color: rgb(30, 30, 30);
    padding: 1vh 2vh;
}

.active, button:hover, .button:hover {
    color: rgb(30, 30, 30);
    background-color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    margin: 0 auto;
    width: 15vh;
}

#warning {
    color: red;
}

button:hover, .button:hover, .arrow:hover {
    cursor: pointer;
}

.welcomeContainer, .settingsContainer, .spContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.confirmContainer {
    width: 30%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.setting {
    width: 40%;
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
}

/* travel menu style */

#mapid {
    height: 378px;
    width: 672px;
}

.regionButtons {
    display: flex;
    flex-direction: column;
}

.region {
    height: 10%;
}

.buttonAndMapContainer {
    display: flex;
    justify-content: center;
}

/* Market menu style */

.activeCategory {
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    color: white;
}

.market-container {
    width: 80%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template: repeat(9, auto) / minmax(auto, 200px) repeat(5, auto);
    border: 8px solid rgb(30, 30, 30);
}

.grid-container .category {
    grid-column: 1/2;
    grid-row: 1/-2;
    border-right: 5px solid rgb(30, 30, 30);
}

.grid-container .shop>#itemUl {
    grid-column: 2/-1;
    grid-row: 1/-2;
    display: grid;
    grid-template: repeat(3, minmax(auto, 1fr)) / repeat(2, minmax(auto, 1fr));
}

.grid-container .buy {
    grid-column: 1/2;
    grid-row: -2/-1;
    border-right: 5px solid rgb(30, 30, 30);
    border-top: 5px solid rgb(30, 30, 30);
}

.grid-container .description {
    grid-column: 2/-1;
    grid-row: -2/-1;
    border-top: 5px solid rgb(30, 30, 30);
}

.shop-item {
    border: 2px solid rgb(30, 30, 30);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-left {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.item-right {
    pointer-events: none;
}

.hidden {
    display: none;
}

/* market player inv css */

.inv-grid {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template: repeat(4, minmax(auto, 1fr)) / repeat(6, minmax(auto, 1fr));
}

.inv-item {
    border: 1px solid rgb(30, 30, 30);
}

.inv-item:nth-child(4n + 3) {
    grid-column: 3/6;
}
.cargo-grid {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template: repeat(4, minmax(auto, 1fr)) / repeat(5, minmax(auto, 1fr));
}

.cargo-item {
    border: 1px solid rgb(30, 30, 30);
}

.cargo-item:nth-child(3n + 3) {
    grid-column: 3/6;
}

.tableHeader {
    background-color: rgb(30, 30, 30);
    color: white;
    font-weight: bold;
}

/* encounter css */

.encounter-grid {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template: repeat(2, minmax(auto, 1fr)) / repeat(2, minmax(auto, 1fr));
}

.choice {
    border: 1px solid rgb(30, 30, 30);
}

/* More test grid css */

.test-container {
    display: grid;
    grid-template: repeat(3, minmax(auto, 1fr)) / repeat(3, minmax(auto, 1fr));
}

.test-item {
    border: 1px solid rgb(30, 30, 30);
    grid-column: 2/3;
    grid-row: 2/3;
}

@media (min-width:850px) {
    .grid-container .shop>#itemUl {
        grid-template: repeat(3, minmax(auto, 1fr)) / repeat(4, minmax(auto, 1fr));
    }
}