{% extends 'layout.html' %}
{% block content %}
<div class="settings">
    <h1>Settings</h1>
    <p>Enter your name</p>
    <input id="name" type="text">
    <p>Select a difficulty</p>
    <div id="difficultyDiv">
        <button id="easy">easy</button>
        <button id="medium">medium</button>
        <button id="hard">hard</button>
    </div>
    <br>
    <h3>Skill Point Allocation</h3>
    <p>Skill Points Remaining: </p>
    <h3 id="remSP">16</h3>
    <div id="container">
        <div class="flex">
            <p>Pilot: </p>
            <div class="flex">
                <h4 id="pilotSP">0</h4>
                <div>
                    <p class="arrow up pilotSP">&#x1F781;</p>
                    <p class="arrow down pilotSP">&#x1F783;</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <p>Fighter: </p>
            <div class="flex">
                <h4 id="fighterSP">0</h4>
                <div>
                    <p class="arrow up fighterSP">&#x1F781;</p>
                    <p class="arrow down fighterSP">&#x1F783;</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <p>Merchant: </p>
            <div class="flex">
                <h4 id="merchantSP">0</h4>
                <div>
                    <p class="arrow up merchantSP">&#x1F781;</p>
                    <p class="arrow down merchantSP">&#x1F783;</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <p>Engineer: </p>
            <div class="flex">
                <h4 id="engineerSP">0</h4>
                <div>
                    <p class="arrow up engineerSP">&#x1F781;</p>
                    <p class="arrow down engineerSP">&#x1F783;</p>
                </div>
            </div>
        </div>
    </div>
    <button id="continueButton">Continue</button>
    <p id="warning"></p>
</div>
<div class="confirm hidden">
    <h1>Confirm your settings</h1>
    <h2>Name: </h2>
    <p id="displayName"></p>
    <h3>Pilot: </h3>
    <p id="displayPilotSP"></p>
    <h3>Fighter: </h3>
    <p id="displayFighterSP"></p>
    <h3>Merchant: </h3>
    <p id="displayMerchantSP"></p>
    <h3>Engineer: </h3>
    <p id="displayEngineerSP"></p>
    <h3>Difficulty:</h3>
    <p id="difficulty"></p>
    <h3>Starting Credits:</h3>
    <p id="credits"></p>
    <button id="backButton">Back</button>
    <button id="confirmButton" onclick="location.href = 'start'">Confirm</button>
</div>
<div class="startgame hidden">
    <h1>Starting Game...</h1>
</div>
{% endblock %}