:root {
  --br-xsmall: 5px;
  --br-small: 10px;
  --br-med: 15px;
  --icon-large: 32px;
  --icon-med: 24px;
  --icon-small: 16px;
  --black: rgb(30, 30, 30);
  --gray: rgb(180, 180, 180);
  --light-gray: lightgray;
  --white: rgb(250, 250, 250);
  --blue: steelblue;
  --light-red: #fff5f5;
  --red: #A71D31;
  --green: #5B8C5A;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
}


.h1 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 1em;
}

.h2 {
  font-weight: 400;
  font-size: 22px;
}

.h3 {
  font-weight: 400;
  font-size: 18px;
  margin: 1em 0;
}

button, .button {
  border: 2px solid var(--light-gray);
  border-radius: var(--br-xsmall);
  color: var(--black);
  background-color: var(--white);
  padding: .5em 1.5em;
}

.filled-button {
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
  font-weight: bold;
}

.back {
  margin-top: .5em;
}

input {
  border-radius: var(--br-xsmall);
  padding: 2px 6px;
  box-sizing: border-box;
}

.active, button:hover, .button:hover, button:focus, .button:focus {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
  font-weight: 500;
}

.filled-button:hover, .filled-button:focus {
  color: var(--blue);
  background: var(--white);
  border: 2px solid var(--blue);
}

.error {
  color: var(--red);
}

button:hover, .button:hover, button:focus, .button:focus {
  cursor: pointer;
}

.item-icon {
  vertical-align: middle;
  height: var(--icon-med);
}

.large-icon {
  height: var(--icon-large);
}

.small-icon {
  height: var(--icon-small);
}