* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

button, .button {
    border-color: rgb(30, 30, 30);
    color: #ffffff;
    background-color: rgb(30, 30, 30);
    padding: 1vh 2vh;
    border-radius: 10px;
    font-weight: bold;
}

input {
    border-radius: 10px;
    padding: 2px 10px;
}

.active, button:hover, .button:hover, button:focus, .button:focus {
    color: rgb(30, 30, 30);
    background-color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    margin: 0 auto;
    width: 15vh;
}

.error {
    color: red;
}

button:hover, .button:hover, .arrow:hover, button:focus, .button:focus {
    cursor: pointer;
    animation: .6s infinite normal start-wiggle
}

.welcomeContainer {
    position: relative;
    display: grid;
    height: 75%;
    width: 90%;
    margin: auto;
    align-items: center;
}

.confirmSPContainer {
    width: 250px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.setting {
    width: 110px;
    flex-basis: 110px;
    display: flex;
    justify-content: space-between;
}

/* rounding corners */

/* top left corner */

.ship-stat:nth-child(1), .cargo-item:nth-child(1), .inv-item:nth-child(1) {
    border-top-left-radius: 15px;
}

/* top right corner */

.ship-stat:nth-child(3), .cargo-item:nth-child(3), .inv-item:nth-child(4) {
    border-top-right-radius: 15px;
}

/* bottom left corner */

.ship-stat:nth-child(2), .cargo-item:nth-last-child(3), .inv-item:nth-last-child(4) {
    border-bottom-left-radius: 15px;
}

/* bottom right corner */

.ship-stat:nth-child(6), .cargo-item:nth-last-child(1), .inv-item:nth-last-child(1) {
    border-bottom-right-radius: 15px;
}

.all-container {
    width: 95%;
    margin: auto;
}

/* home page css */

#title {
    font-size: 55px;
    animation: 3s normal title-fade-in;
}

#logo {
    height: 15vw;
}

.start {
    padding: 10px 20px;
    margin: 40px;
    animation: .6s infinite normal start-wiggle
}

/* settings style*/

.settings-grid, .sp-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(5, minmax(auto, 75px)) / repeat(2, minmax(auto, 1fr));
    border: 1px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
    text-align: left;
}

.setting-option>p>input {
    width: 30vw;
}

.imgDiv, .sp-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/6;
    grid-column: 1/2;
    background-image: url("stroke-green.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.chicken {
    height: 200px;
    z-index: 2;
}

.setting-option {
    grid-column: 2/3;
}

.form {
    grid-row: 2/5;
}

/* Skillpoints style*/

.h1-headings {
    font-size: 25px;
}

.h3-headings {
    font-size: 15px;
}

.sp-grid, .sp-input>input {
    font-size: calc(9px + 1vw);
}

.sp-option {
    grid-column: 2/4;
}

.spForm {
    grid-row: 2/5;
}

.back {
    grid-column: 2/3;
}

.sp-input-grid {
    margin: auto;
    display: grid;
    grid-template: repeat(4, minmax(auto, 45px)) / calc(25px + 10vw) 50px minmax(70px, 150px);
    border-radius: 15px;
    text-align: left;
}

.sp-input>input {
    width: 20px;
    text-align: center;
}

/* game UI */

.player-info-grid {
    width: 100%;
    display: grid;
    grid-template: repeat(1, minmax(auto, 1fr)) / repeat(3, minmax(auto, 1fr));
    border: 1px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
    margin: 20px auto;
}

.player-info {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}

#menu {
    margin: 20px auto;
}

/* Collection page style */

.collection-grid {
    border: 1px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
    width: 100%;
    display: grid;
    grid-template: 30px minmax(auto, 1fr) / repeat(4, minmax(auto, 1fr));
    ;
    margin: 20px auto;
}

.category-grid {
    padding-left: 15px;
    grid-column: 1/4;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(2, minmax(auto, 1fr)) / repeat(6, minmax(auto, 1fr));
    border-radius: 15px;
}

.collection-label {
    grid-column: 1/4;
    text-align: left;
    padding-left: 15px;
}

.collection-button {
    grid-row: 1/3;
    grid-column: 4/5;
    align-self: center;
}

.progress:disabled {
    animation: none;
    color: #ffffff;
    background-color: rgb(150, 150, 150);
    border: none;
    cursor: default;
}

/* SHIP menu style */

.ship-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(4, minmax(auto, 1fr)) / repeat(2, minmax(auto, 1fr));
    border: 1px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
}

.ship-stat {
    border: 1px solid rgba(30, 30, 30, .5);
}

/* rounding corners */

.ship-stat:nth-child(2) {
    grid-row: 2/5;
}

.cargo-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(4, auto) / repeat(3, minmax(50px, auto)) repeat(2, 50px);
    text-align: left;
}

.cargo-item {
    border: 1px solid rgba(30, 30, 30, .5);
    display: flex;
    align-items: center;
}

.cargo-item:nth-child(3n+1) {
    grid-column: 1/4;
}

/* about page */

#image {
    width: 50%;
}

.about-container>p, .about-container>h1, .about-container>h2 {
    text-align: left;
}

#start {
    width: 200px;
}

/* TRAVEL menu style */

#mapid {
    height: 378px;
    width: 672px;
}

.regionButtons {
    display: flex;
    flex-direction: column;
}

.region {
    height: 37.8px;
    width: auto;
    white-space: nowrap;
    border-radius: 0;
}

.region:hover, .region:focus {
    animation: none;
}

.buttonAndMapContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.news {
    height: 9em;
}

.fade {
    position: relative;
    height: 4em;
    margin-top: -4em;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

/* Market menu style */

.price-board {
    display: grid;
    grid-template: repeat(4, 20px) / repeat(2, 150px);
    justify-content: center;
    text-align: left;
    background-color: rgba(255, 255, 255, .8);
    width: 300px;
    margin: 10px auto;
    padding: 10px 15px
}

#market-banner {
    background: url("") no-repeat center bottom;
    background-size: contain;
    width: 100%;
    height: 90px;
    padding-bottom: 20px;
}

#itemCategoriesUl li:hover {
    cursor: pointer;
    background-color: rgba(146, 146, 146, 0.5);
}

.activeCategory, #itemCategoriesUl li.activeCategory:hover {
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    color: white;
}

.active-item, .item.active-item:hover {
    background-color: #adadad;
}

.grid-container {
    position: relative;
    width: 97%;
    margin: auto;
    margin-bottom: 25px;
    display: grid;
    grid-template: repeat(9, auto) / minmax(auto, calc(75px + 5vw)) repeat(5, auto);
    border: 8px solid rgba(30, 30, 30, .5);
    border-radius: 15px;
}

.grid-container .category {
    grid-column: 1/2;
    grid-row: 1/-2;
    border-right: 5px solid rgba(30, 30, 30, .5);
}

.grid-container .shop>#itemUl {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(125px + 10vw), 1fr));
}

#itemUl {
    width: 100%;
}

.shop {
    grid-column: 2/-1;
    grid-row: 1/-2;
}

.grid-container .buy {
    grid-column: 1/2;
    grid-row: -2/-1;
    border-right: 5px solid rgba(30, 30, 30, .5);
    border-top: 5px solid rgba(30, 30, 30, .5);
}

.grid-container .description {
    grid-column: 2/-1;
    grid-row: -2/-1;
    border-top: 5px solid rgba(30, 30, 30, .5);
}

.description-grid {
    display: grid;
    grid-template: repeat(3, auto) / 64px auto;
}

.description-item {
    text-align: left;
}

.description-item:nth-child(1) {
    grid-row: 1/4;
}

.description-item>img {
    height: 64px;
}

.shop-item {
    border: 2px solid rgba(30, 30, 30, .5);
    padding: 0 5px 0 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.item:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.item-icon {
    vertical-align: middle;
    height: 32px;
}

.arrow {
    height: 16px;
}

.item-left {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.item-right {
    pointer-events: none;
}

.hidden {
    display: none;
}

.sellButton {
    border-radius: 0;
}

.sellButton:hover {
    animation: none;
}

/* market player inv css */

.inv-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(4, minmax(auto, 1fr)) / repeat(3, minmax(50px, auto)) repeat(2, minmax(auto, 50px)) minmax(50px, 125px);
    text-align: left;
}

.inv-item {
    border: 1px solid rgba(30, 30, 30, .5);
    display: flex;
    align-items: center;
}

.inv-item:nth-child(4n+1) {
    grid-column: 1/4;
}

.tableHeader {
    background-color: rgb(30, 30, 30);
    color: white;
    font-weight: bold;
    padding: 4px 10px;
}

/* encounter css */

.encounter-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(2, minmax(auto, 1fr)) / repeat(2, minmax(auto, 1fr));
}

.choice {
    border: 1px solid rgba(30, 30, 30, .5);
}

#text {
    border: 2px solid rgba(30, 30, 30);
    border-radius: 15px;
    margin: 20px auto;
    padding: 10px;
}

#click-continue {
    animation: 6s infinite normal bounce
}

.end {
    width: 100%;
}

/* bg stripe */

.test-bg {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 70%;
    transform-origin: 0;
    display: grid;
    grid-template: repeat(3, 40%) / repeat(2, 50%);
    background-image: linear-gradient(to left, white, rgb(235, 235, 235));
    transform: skewY(-10deg);
}

/* stats graph */

text {
    font-size: 1.4em;
}

.main-chart {
    height: 100%;
    width: 70%;
    float: right;
}

.side-chart {
    height: 100%;
    width: 30%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.svg-container {
    height: 50%;
}

svg {
    width: 100%;
}

.stats-container {
    height: 50vh;
    width: 90%;
    margin: auto;
}
#earnings, #expenses, #net-worth {
    height: 100%;
    width: 100%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 34px;
    padding: 2px;
    background: rgb(30, 30, 30);
    color: rgb(240, 240, 240);
    font-size: 12px;
    border-radius: 5px;
    pointer-events: none;
}

.stats-grid {
    width: 100%;
    display: grid;
    grid-template: repeat(3, minmax(30px, auto)) / repeat(3, minmax(auto, 1fr));
    text-align: left;
}

@media (min-width:530px) {
    .category-grid {
        grid-template: repeat(2, minmax(auto, 1fr)) / repeat(8, minmax(auto, 1fr));
    }
    .sp-grid, .sp-input>input {
        font-size: 15px;
    }
    #chart {
        width: 75%;
    }
}

@media (min-width:850px) {
    .category-grid {
        grid-template: repeat(2, minmax(auto, 1fr)) / repeat(10, minmax(auto, 1fr));
    }
    /* home page css */
    .title {
        width: 50%;
    }
    .all-container, .welcomeContainer{
        width: 70%;
    }
    #logo {
        height: 10vw;
    }
    .setting-option>p>input {
        width: 20vw;
    }
    /* travel page */
    .travel-info-container {
        display: grid;
        width: 100%;
        grid-template: repeat(2, minmax(auto, 30px)) / repeat(2, minmax(auto, 1fr));
    }
    #time-info {
        text-align: right;
    }
    #time-effect {
        text-align: right;
    }
    #current-info {
        grid-row: 1/3;
        display: flex;
        align-items: center;
    }
    #chart {
        width: 75%;
    }
}

@media (min-width:1200px) {
    /* market player inv css */
    .all-container, .welcomeContainer {
        width: 55%;
    }
    #logo {
        height: 7vw;
    }
    .setting-option>p>input {
        width: 15vw;
    }
}

/* ANIMATIONS */

@keyframes title-fade-in {
    from {
        opacity: 0;
        letter-spacing: 10px;
    }
    to {
        opacity: 1;
        letter-spacing: normal;
    }
}

@keyframes bounce {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(.9);
    }
}

@keyframes start-wiggle {
    0% {
        transform: rotate(-2deg)
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg)
    }
}