{% extends 'layout.html' %}
{% block content %}
<h1>Confirm your settings</h1>
<h3>Name: </h3>
<p>{{name}}</p>
<h3>Skill Points:</h3>
<div class="confirmContainer">
    <div class="setting">
        <p>Pilot:</p>
        <p>{{sp1}}</p>
    </div>
    <div class="setting">
        <p>Fighter: </p>
        <p>{{sp2}}</p>
    </div>
    <div class="setting">
        <p>Merchant: </p>
        <p>{{sp3}}</p>
    </div>
    <div class="setting">
        <p>Engineer: </p>
        <p>{{sp4}}</p>
    </div>
</div>
<h3>Difficulty:</h3>
<p>{{diff}}</p>
<h3>Starting Credits:</h3>
<p>{{credits}}</p>
<form method="post">
    {{ form.hidden_tag() }}
    {{form.submit(class="button")}}
    <!--DEBUGGING ISSUES WITH FORM
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="warning">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            -->
</form>

<button onclick="location.href = '/skillpoints'">Back</button>
{% endblock %}