{% extends 'layout.html' %}
{% block content %}
<div class="confirm">
    <h1>Confirm your settings</h1>
    <h2>Name: </h2>
    <p>{{name}}</p>
    <h3>Pilot: </h3>
    <p>{{sp1}}</p>
    <h3>Fighter: </h3>
    <p>{{sp2}}</p>
    <h3>Merchant: </h3>
    <p>{{sp3}}</p>
    <h3>Engineer: </h3>
    <p>{{sp4}}</p>
    <h3>Difficulty:</h3>
    <p>{{diff}}</p>
    <h3>Starting Credits:</h3>
    <p>{{credits}}</p>
    <button onclick="location.href = '{{request.referrer}}'">Back</button>
    <button onclick="location.href = '/start'">Confirm</button>
    <!--DEBUGGING ISSUES WITH FORM-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="warning">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}