{% extends 'layout.html' %}
{% block content %}
<div class="player-info-grid">
    <div class="player-info">
        <img src="../static/item-images/icon_credits.png"><strong>{{game.player.credit}}</strong>
    </div>
    <div class="player-info">
        <img src="../static/item-images/icon_fuel.png"><strong>{{game.player.ship.fuel_level}} /
            {{game.player.ship.max_fuel}}</strong>
    </div>
    <div class="player-info">
        <img src="../static/item-images/icon_health.png"><strong>{{game.player.ship.health_level}} /
            {{game.player.ship.max_health}}</strong>
    </div>
</div>
<h2>{{npc["name"]}}</h2>
{% if npc["name"] == "Bandit" %}
<p>OHO <strong>{{game.player.name}}</strong>!!!! I'll let you go, if you give me <strong>{{npc["demand"]}}
        credits</strong>!
</p>
{% elif npc["name"] == "Trader" %}
<p><strong>{{game.player.name}}</strong>! I'll sell ya a <img
        src="../static/item-images/item_{{npc.item.name}}.png"><strong>{{npc["item"].name}}</strong> for
    <strong>{{npc["item"].b_price}} credits</strong>!</p>
{% elif npc["name"] == "Police" %}
<p>STOP <strong>{{game.player.name}}</strong>! Hand over the stolen <img
        src="../static/item-images/item_{{npc.item.name}}.png"><strong>{{npc["item"].name}}</strong>!</p>
{% endif %}
<img height="200" width="auto" src="../static/{{npc.name}}.png">
<p>What will YOU do!?</p>
<div class="encounter-grid">
    {% if npc["name"] == "Bandit" %}
    <button class="choice bandit pay" onclick="payBandit()">Pay fee</button>
    <button class="choice bandit flee" onclick="fleeBandit()">Flee to previous region</button>
    <button class="choice bandit fight" onclick="fightBandit()">Fight</button>
    {% elif npc["name"] == "Trader" %}
    <button class="choice trader buy" onclick="buyTrader()">Buy item</button>
    <button class="choice trader ignore" onclick="ignoreTrader()">Ignore</button>
    <button class="choice trader rob" onclick="robTrader()">Rob</button>
    <button class="choice trader negotiate" onclick="negotiateTrader()">Negotiate</button>
    {% elif npc["name"] == "Police" %}
    <button class="choice police forfeit" onclick="forfeitPolice()">Forfeit stolen items</button>
    <button class="choice police flee" onclick="fleePolice()">Flee to previous region</button>
    <button class="choice police fight" onclick="fightPolice()">Fight</button>
    {% endif %}
</div>
{% if text and second_test %}
<div id="text">
    {{text}}
    <p>
        Click anywhere to continue...
    </p>
</div>
{% elif text %}
<div id="text">
    {{text}}
</div>
{% endif %}

<script type="text/javascript">
    {% if text and second_test %}
    document.addEventListener("click", function (event) {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("return_travel=");
        window.location.reload();
    });
    {% endif %}

    function payBandit() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("pay_bandit=");
        window.location.reload();
    }
    function fightBandit() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("fight_bandit=");
        window.location.reload();
    }
    function fleeBandit() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("flee_bandit=");
        window.location.reload();
    }
    function buyTrader() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("buy_trader=");
        window.location.reload();
    }
    function ignoreTrader() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("ignore_trader=");
        window.location.reload();
    }
    function robTrader() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("rob_trader=");
        window.location.reload();
    }
    function negotiateTrader() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("negotiate_trader=");
        window.location.reload();
    }
    function forfeitPolice() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("forfeit_police=");
        window.location.reload();
    }
    function fleePolice() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("flee_police=");
        window.location.reload();
    }
    function fightPolice() {
        var req = new XMLHttpRequest();
        req.open('POST', '/encounter', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("fight_police=");
        window.location.reload();
    }
</script>
{% endblock %}