{% extends 'layout.html' %}
{% block content %}
<h2>{{npc}}</h2>
<p>AH <strong>{{game.player.name}}</strong>!!! I will let you go if you give me some money!</p>
<img height="200" width="auto" src="../static/{{npc}}.png">
<p>What will YOU do!?</p>
<div class="encounter-grid">
    {% if npc == "bandit" %}
    <button class="choice bandit pay">Pay fee</button>
    <button class="choice bandit flee">Flee</button>
    <button class="choice bandit fight">Fight</button>
    {% elif npc == "trader" %}
    <button class="choice trader buy">Buy item</button>
    <button class="choice trader ignore">Ignore</button>
    <button class="choice trader rob">Rob</button>
    <button class="choice trader negotiate">Negotiate</button>
    {% elif npc == "police" %}
    <button class="choice police forfeit">Forfeit stolen items and pay fine</button>
    <button class="choice police flee">Flee</button>
    <button class="choice police fight">Fight</button>
    {% endif %}
</div>
<script type="text/javascript">
    //event listerner for encounter choices
    let encounterGridUl = document.getElementsByClassName("encounter-grid");
    encounterGridUl[0].addEventListener("click", function (event) {
        console.log(event.target);
        if (event.target.classList.contains("bandit")) {
            console.log("bandito");
            if (event.target.classList.contains("pay")) {
                console.log("pay");
            }
            if (event.target.classList.contains("flee")) {
                console.log("flee");
            }
            if (event.target.classList.contains("fight")) {
                console.log("fight");
            }
        }
        if (event.target.classList.contains("trader")) {
            console.log("trader");
            if (event.target.classList.contains("buy")) {
                console.log("buy");
            }
            if (event.target.classList.contains("ignore")) {
                console.log("ignore");
            }
            if (event.target.classList.contains("rob")) {
                console.log("rob");
            }
            if (event.target.classList.contains("negotiate")) {
                console.log("negotiate");
            }
        }
        if (event.target.classList.contains("police")) {
            console.log("police");
            if (event.target.classList.contains("forfeit")) {
                console.log("forfeit");
            }
            if (event.target.classList.contains("flee")) {
                console.log("flee");
            }
            if (event.target.classList.contains("fight")) {
                console.log("fight");
            }
        }
    })
</script>
{% endblock %}