{% extends 'layout.html' %}
{% block content %}
<div class="settingsContainer">
    <h1>Settings</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{form.name.label}}<br>
            {{form.name(size=32)}}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.diff.label}}<br>
            {{form.diff}}<br>
        </p>
        <p>
            {{form.submit(class="button")}}
        </p>
    </form>
    <div>
        <button onclick="location.href = '/home'">Back</button>
    </div>
</div>
{% endblock %}