{% extends 'layout.html' %}
{% block content %}
<p id="creditDisplay">Credits: <strong>{{game.player.credit}}</strong></p>
<p id="fuelDisplay">Current Fuel Level: <strong>{{game.player.ship.fuel_level}} / {{game.player.ship.max_fuel}}</strong></p>
<p id="fuelDisplay">Current Health Level: <strong>{{game.player.ship.health_level}}</strong></p>
<div id="menu">
    <button id="ship" class="active" onclick="location.href = 'ship'">Ship</button>
    <button id="travel" onclick="location.href = 'travel'">Travel</button>
    <button id="market" onclick="location.href = 'market'">Market</button>
    <button id="test" onclick="location.href = 'test'">Test</button>
    <h2 id="currRegion">Ship Stats</h2>
</div>

<!--Ship menu-->
<div class="menu shipMenu">
    <div class="ship-grid">
        <div class="ship-stat">
            <p><strong>{{game.player.ship.name}}</strong></p>
        </div>
        <div class="ship-stat ship-image">
            <img height="100" src="../static/chicken.png">
        </div>
        <div class="ship-stat">
            Type: <strong>{{game.player.ship.ship_type}}</strong>
        </div>
        <div class="ship-stat">
            Cargo Space Capacity: <strong>{{game.player.ship.max_cargo}} lb</strong>
        </div>
        <div class="ship-stat">
            Fuel Capacity: <strong>{{game.player.ship.max_fuel}} lb</strong>
        </div>
        <div class="ship-stat">
            Health: <strong>{{game.player.ship.max_health}}</strong>
        </div>
    </div>
    <h3>Cargo: {{game.player.ship.cargo_size}} / {{game.player.ship.max_cargo}} lb capacity</h3>
    <div class="cargo-grid">
        <div class="cargo-item inv-image tableHeader">
            Item
        </div>
        <div class="cargo-item inv-quantity tableHeader">
            Quantity
        </div>
        <div class="cargo-item inv-weight tableHeader">
            Weight Per
        </div>
        {% for item in game.player.ship.cargo %}
        <div class="cargo-item inv-image">
            <img src="../static/item-images/item_{{item.name}}.png"> {{item.name}}
        </div>
        <div class="cargo-item inv-quantity">
            {{item.amount}}x
        </div>
        <div class="cargo-item inv-weight">
            {{item.size}} lb
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}