{% extends 'layout.html' %}
{% block content %}
<div class="spContainer">
    <div class="sp-grid">
        <img class="sp-img" width="100%" src="../static/chicken.png">
        <div class="sp-heading">
            <h1>Skill Points</h1>
            <h3>Total Skill Points: {{sp}}</h3>
        </div>
        <form class="spForm" method="post">
            {{ form.hidden_tag() }}
            <br>
            <p>
                {{form.sp1.label}}
                {{form.sp1(size=32)}}
            </p>
            {% for error in form.sp1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>
                {{form.sp2.label}}
                {{form.sp2(size=32)}}
            </p>
            {% for error in form.sp2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>
                {{form.sp3.label}}
                {{form.sp3(size=32)}}
            </p>
            {% for error in form.sp3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p>
                {{form.sp4.label}}
                {{form.sp4(size=32)}}
            </p>
            {% for error in form.sp4.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br><br>
            {{form.submit(class="button")}}
            <!--DEBUGGING ISSUES WITH FORM
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul id="warning">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        -->
        </form>
        <div class="back">
            <button onclick="location.href = '/settings'">Back</button>
        </div>
    </div>

</div>
{% endblock %}