{% extends 'layout.html' %}
{% block content %}
<div id="menu">
    <button id="ship">Ship</button>
    <button id="travel">Travel</button>
    <button id="market">Market</button>
</div>

<!--Ship menu-->
<div class="menu shipMenu hidden">
    <h3>Type:</h3>
    <h3>Cargo Space:</h3>
    <h3>Fuel Capacity:</h3>
    <h3>Health:</h3>
</div>

<!--Travel menu - Region buttons and map-->
<div class="menu travelMenu hidden">
    <h2 id="currRegion">Region: {{currRegion.name}}
        ({{currRegion.coordinates.x_position}},
        {{currRegion.coordinates.y_position}})
        Tech Level: {{currRegion.tech_level}}
    </h2>
    <div class="buttonAndMapContainer">
        <div class="regionButtons">
            {% for region in universe.region_list %}
            {% if region == currRegion %}
            <button class="region {{ loop.index }} active">Region: {{region.name}}</button>
            {% else %}
            <button class="region {{ loop.index }}">Region: {{region.name}}</button>
            {% endif %}
            {% endfor %}
        </div>
        <div id="mapid"></div>
    </div>
</div>
<div class="menu marketMenu hidden">
    <h2>Market</h2>
    <div class="marketMenuContainer">
        <div class="marketContainer">
            <div class="itemCategories">
                <ul>
                    <li>Food</li>
                    <li>Medicine</li>
                    <li>Weapons</li>
                    <li>Resources</li>
                    <li>Technology</li>
                </ul>
            </div>
            <div class="items">
                <ul>
                    <li><img src="../static/item-images/apple-icon.png">Apple</li>
                    <li><img src="../static/item-images/apple-icon.png">Chicken</li>
                    <li><img src="../static/item-images/apple-icon.png">Chicken Egg</li>
                    <li><img src="../static/item-images/apple-icon.png">Orange</li>
                    <li><img src="../static/item-images/apple-icon.png">Band-Aid</li>
                    <li><img src="../static/item-images/apple-icon.png">First-Aid Kit</li>
                    <li><img src="../static/item-images/apple-icon.png">Wood</li>
                    <li><img src="../static/item-images/apple-icon.png">Wooden Spoon</li>
                    <li><img src="../static/item-images/apple-icon.png">Shampoo Bottle</li>
                </ul>
            </div>
        </div>
        <div class="bottomContainer">
            <div class="buyInfo">
                <p>Purchase x item for y amount?</p>
                <button>Purchase</button>
            </div>
            <div class="itemDescription">
                <p>This is a sample description of what some of the items would have when the item is selected in the
                    panel
                    above me. Here is some more sample text to continue to take up space so that it looks like there is
                    more
                    text.</p>
            </div>
        </div>

    </div>
</div>

<!--Generating the map-->
<script type="text/javascript">
    var w = 672,
        h = 378,
        url = '../static/map.png';
    var map = L.map('mapid', {
        minZoom: 1,
        maxZoom: 4,
        center: [w, -h],
        zoom: 1,
        crs: L.CRS.Simple
    });
    // dimensions and url of the image

    //var marker = L.marker([-100, 100]).addTo(map);
    let jsRegionList = [];

    // creating markers on map
    {% for region in universe.region_list %}
    var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 2 }}, {{ region.coordinates.y_position / 2 }}]).addTo(map).bindPopup("<b>{{region.name}}</b><br>({{region.coordinates.x_position}}, {{region.coordinates.y_position}})<br><b>Tech Level: </b>{{region.tech_level}}<br><button class='region {{ loop.index }}'>GO</button>").on('click', function () {
        console.log(marker{{ loop.index }}.getLatLng());
    });
    jsRegionList.push(["{{region.name}}", {{ region.coordinates.x_position }}, {{ region.coordinates.y_position }}, "{{region.tech_level}}"]);
    {% endfor %}

    // event listerner for internal map region buttons
    let mapDiv = document.getElementById('mapid');
    mapDiv.addEventListener("click", function (event) {
        if (event.target.classList.contains("region")) {
            let clickedIndex = event.target.classList[1] - 1;
            handlers.travelMap(jsRegionList[clickedIndex]);

            let clickedButton = document.getElementsByClassName(clickedIndex + 1);
            handlers.highlightButton(clickedButton[0]);
        }
    });
    // event listener for external region buttons
    let regionButtonDiv = document.getElementsByClassName("regionButtons")
    regionButtonDiv[0].addEventListener("click", function (event) {
        if (event.target.classList.contains("region")) {
            let clickedIndex = event.target.classList[1] - 1;
            handlers.travelMap(jsRegionList[clickedIndex]);

            let clickedButton = document.getElementsByClassName(clickedIndex + 1);
            handlers.highlightButton(clickedButton[0]);
        }
    });
    //test markers
    var markerZero = L.marker([0, 0]).addTo(map).bindPopup("test-center");
    var markertest1 = L.marker([5, 0]).addTo(map).bindPopup("test-pos-x");
    var markertest2 = L.marker([-5, 0]).addTo(map).bindPopup("test-neg-x");
    var markertest3 = L.marker([0, 5]).addTo(map).bindPopup("test-pos-y");
    var markertest4 = L.marker([0, -5]).addTo(map).bindPopup("test-neg-y");

    //bounds for image
    var southWest = map.unproject([-w * 2, -h * 2], map.getMaxZoom() - 1);
    var northEast = map.unproject([w * 2, h * 2], map.getMaxZoom() - 1);
    var bounds = new L.LatLngBounds(southWest, northEast);
    L.imageOverlay(url, bounds).addTo(map);
    map.setMaxBounds(bounds);

</script>
{% endblock %}