{% extends 'layout.html' %}
{% block content %}
<p id="creditDisplay">Credits: <strong>{{game.player.credit}}</strong></p>
<p id="fuelDisplay">Current Fuel Level: <strong>{{game.player.ship.fuel_level}}</strong></p>
<p id="fuelDisplay">Current Health Level: <strong>{{game.player.ship.health_level}}</strong></p>
<div id="menu">
    <button id="ship" onclick="location.href = 'ship'">Ship</button>
    <button id="travel" onclick="location.href = 'travel'">Travel</button>
    <button id="market" onclick="location.href = 'market'">Market</button>
    <button id="test" class="active" onclick="location.href = 'test'">Test</button>
    <h2 id="currRegion">Region: {{currRegion.name}}
        ({{currRegion.coordinates.x_position}},
        {{currRegion.coordinates.y_position}})
        Tech Level: {{currRegion.tech_level.name}}
    </h2>
    <div class="test-container">
        <div class="test-item">1</div>
    </div>

</div>
{% endblock %}