{% extends 'layout.html' %}
{% block content %}
<p id="creditDisplay">Credits: <strong>{{game.player.credit}}</strong></p>
<p id="fuelDisplay">Current Fuel Level: <strong>{{game.player.ship.fuel_level}}</strong></p>
<p id="fuelDisplay">Current Health Level: <strong>{{game.player.ship.health_level}}</strong></p>
<div id="menu">
    <button id="ship" onclick="location.href = 'ship'">Ship</button>
    <button id="travel" class="active" onclick="location.href = 'travel'">Travel</button>
    <button id="market" onclick="location.href = 'market'">Market</button>
    <button id="test" onclick="location.href = 'test'">Test</button>
    <h2 id="currRegion">Region: {{currRegion.name}}
        ({{currRegion.coordinates.x_position}},
        {{currRegion.coordinates.y_position}})
        Tech Level: {{currRegion.tech_level.name}}
    </h2>
    {% if fuel_error %}
    <h3 class="error">Not enough fuel!</h3>
    {% endif %}
</div>

<!--Travel menu - Region buttons and map-->
<div class="menu travelMenu">
    <div class="buttonAndMapContainer">
        <form method="post">
            <div class="regionButtons">
                {% for region in universe.region_list %}
                {% if region == currRegion %}
                <button type="button" onclick="travelAndUpdateFuel('{{loop.index}}');"
                    class="region {{ loop.index }} active">Region:
                    {{region.name}}</button>
                {% else %}
                <button type="button" onclick="travelAndUpdateFuel('{{loop.index}}');"
                    class="region {{ loop.index }}">Region:
                    {{region.name}}</button>
                {% endif %}
                {% endfor %}
            </div>
        </form>
        <div id="mapid"></div>
    </div>
</div>
<button onclick="addFuel()">add fuel</button>
<button onclick="addCredits()">add credits</button>
<button onclick="addHealth()">add health</button>
<button onclick="force('bandit')">force bandit</button>
<button onclick="force('trader')">force trader</button>
<button onclick="force('police')">force police</button>

<script type="text/javascript">
    //testing functions, remove after test
    function force(npc) {
        var req = new XMLHttpRequest();
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("force="+npc);
        window.location.reload();
    }
    function addFuel() {
        var req = new XMLHttpRequest();
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addFuel=");
        window.location.reload();
    }
    function addCredits() {
        var req = new XMLHttpRequest();
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addCredits=");
        window.location.reload();
    }
    function addHealth() {
        var req = new XMLHttpRequest();
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("addHealth=");
        window.location.reload();
    }
    function travelAndUpdateFuel(index) {
        travel(index);
        window.location.reload();
    }
    function travel(index) {
        var req = new XMLHttpRequest();
        var result = document.getElementById("currRegion");
        //only need this section if we're displaying
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText !== "-1") {
                    result.innerHTML = this.responseText;
                    let clickedButton = document.getElementsByClassName(index);
                    handlers.highlightButton(clickedButton[0]);
                }
            }
        }
        //this part sends the data over
        req.open('POST', '/travel', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("currIndex=" + index);
    }
    var w = 672,
        h = 378,
        url = '../static/map3.png'
    var map = L.map('mapid', {
        minZoom: 1,
        maxZoom: 4,
        center: [{{currRegion.coordinates.x_position / 3}}, {{currRegion.coordinates.y_position / 3}}],
        zoom: 2,
        crs: L.CRS.Simple
    });
    var barnIcon1 = L.icon({
        iconUrl: '../static/barn1.png'
    });
    var barnIcon2 = L.icon({
        iconUrl: '../static/barn2.png'
    });
    // dimensions and url of the image
    // creating markers on map
    {% for region in universe.region_list %}
        {% if region == currRegion %}
        var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 3 }}, {{ region.coordinates.y_position / 3 }}], { icon: barnIcon1 }).addTo(map).bindPopup("<b>{{region.name}}</b><br>({{region.coordinates.x_position}}, {{region.coordinates.y_position}})<br><b>Tech Level: </b>{{region.tech_level.name}}<br><button type='button' onclick=\"travelAndUpdateFuel('{{loop.index}}');\" class='region {{ loop.index }}'>GO</button>");
        {% else %}
        var marker{{ loop.index }} = L.marker([{{ region.coordinates.x_position / 3 }}, {{ region.coordinates.y_position / 3 }}], { icon: barnIcon2 }).addTo(map).bindPopup("<b>{{region.name}}</b><br>({{region.coordinates.x_position}}, {{region.coordinates.y_position}})<br><b>Tech Level: </b>{{region.tech_level.name}}<br><button type='button' onclick=\"travelAndUpdateFuel('{{loop.index}}');\" class='region {{ loop.index }}'>GO</button>");
        {% endif %}
    {% endfor %}

    /*test markers
    var markerZero = L.marker([0, 0]).addTo(map).bindPopup("test-center");
    var markertest1 = L.marker([5, 0]).addTo(map).bindPopup("test-pos-x");
    var markertest2 = L.marker([-5, 0]).addTo(map).bindPopup("test-neg-x");
    var markertest3 = L.marker([0, 5]).addTo(map).bindPopup("test-pos-y");
    var markertest4 = L.marker([0, -5]).addTo(map).bindPopup("test-neg-y");
    */

    //bounds for image
    var southWest = map.unproject([-672 * 2, -378 * 2], map.getMaxZoom() - 1);
    var northEast = map.unproject([672 * 2, 378 * 2], map.getMaxZoom() - 1);
    var bounds = new L.LatLngBounds(southWest, northEast);
    L.imageOverlay(url, bounds).addTo(map);
    map.setMaxBounds(bounds);
</script>

{% endblock %}